.box{
  width:		100px;
  height:		100px;
  text-align:	center;
  font-size:	30px;
  font-weight:	bold;
  font-family:	sans-serif;
/*   float:		right; */
}

.red{
  background-color: red;
}

.green{
  background-color: green;
}

.yellow{
  background-color: yellow;
}

.container {
  float: right;
}