.container {
  display:		flex;
  flex-wrap:	wrap;
  border:		5px solid black;
  width:		200px;
  heigth:		200px;
}

.box {
  width:	100px;
  height:	100px;
}

.red {
  background-color: red;
}

.black {
  background-color: black;
}